[user]
	name = Joel Hans
	email = joel.g.hans@gmail.com

[github]
  user = joelhans

[core]
  excludesfile = ~/.gitignore_global
  editor = nano
  filemode = false
  trustctime = false
  autocrlf = input

[diff]
  tool = meld

[difftool]
  prompt = false

[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[init]
	defaultBranch = main
