[user]
	name = Joel Hans
	email = j@joelhans.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKcQXUtQ77vym/RAApVHswSqvjPZDjvU63TpBokSTUwd

[github]
  user = joelhans

[core]
  excludesfile = ~/.gitignore_global
  editor = nano
  filemode = false
  trustctime = false
  autocrlf = input

[diff]
  tool = meld

[difftool]
  prompt = false

[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"

[init]
	defaultBranch = main

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true
