[includeIf "gitdir:/Users/"]
  path = ~/.gitconfig-macos

[includeIf "gitdir:/home/"]
  path = ~/.gitconfig-linux

[includeIf "gitdir:/var/home/"]
  path = ~/.gitconfig-linux

[user]
  name = Joel Hans
  email = j@joelhans.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKcQXUtQ77vym/RAApVHswSqvjPZDjvU63TpBokSTUwd

[github]
  user = joelhans

[core]
  excludesfile = ~/.gitignore_global
	editor = nvim
  filemode = false
  trustctime = false
  autocrlf = input

[init]
	defaultBranch = main

[gpg]
  format = ssh

[commit]
  gpgsign = true
  
[pull]
	rebase = false
[url "ssh://git@ssh.github.com:443/"]
	insteadOf = git@github.com:
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[include]
  path = ~/.gitconfig.local
