"*":
  Zen:
    gutter: true
    showWordCount: "Left"
    tabs: "multiple"
  "atom-material-ui":
    colors:
      abaseColor: "#1fb9aa"
      paintCursor: true
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
  core:
    disabledPackages: [
      "bracket-matcher"
      "command-palette"
      "dev-live-reload"
      "fonts"
      "github"
      "git-diff"
      "keybinding-resolver"
      "markdown-preview"
      "open-on-github"
      "snippets"
      "styleguide"
      "symbols-view"
      "timecop"
      "whitespace"
      "language-gfm"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-light"
    ]
  "dark-mode":
    autoMode: false
  editor:
    fontFamily: "Space Mono NL"
    fontSize: 19
    invisibles: {}
    lineHeight: 1.6
    showIndentGuide: true
    showInvisibles: false
    showLineNumbers: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "372c52ec-d8ad-9588-e76b-f0194550b1fa"
  "language-markdown": {}
  "linter-spell":
    personalDictionaryPath: "/home/joel/.hunspell_en_US"
    plainTextWords: [
      "Ette"
    ]
  "linter-ui-default":
    panelHeight: 236
  metrics:
    userId: "52750bce3804aa7271631884b3dc40bb07bde34e"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
    locales: [
      "en-US"
    ]
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
