"*":
  Zen:
    gutter: true
    showWordCount: "Left"
    tabs: "multiple"
  core:
    disabledPackages: [
      "snippets"
      "language-markdown"
      "spell-check"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-light"
    ]
  editor:
    fontFamily: "Space Mono NL"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.6
    showIndentGuide: true
    showInvisibles: false
    showLineNumbers: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "372c52ec-d8ad-9588-e76b-f0194550b1fa"
  "linter-spell":
    personalDictionaryPath: "/home/joel/.hunspell_en_US"
    plainTextWords: [
      "Ette"
    ]
  "linter-ui-default":
    panelHeight: 236
  metrics:
    userId: "52750bce3804aa7271631884b3dc40bb07bde34e"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
    locales: [
      "en-US"
    ]
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
